@font-face
  font-family: 'CeraRoundPro';
  src: url("../fonts/CeraRoundProRegular/CeraRoundProRegular.eot");
  src: url("../fonts/CeraRoundProRegular/CeraRoundProRegular.eot") format("embedded-opentype"), url("../fonts/CeraRoundProRegular/CeraRoundProRegular.woff2") format("woff2"), url("../fonts/CeraRoundProRegular/CeraRoundProRegular.woff") format("woff"), url("../fonts/CeraRoundProRegular/CeraRoundProRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; 

@font-face 
  font-family: 'CeraRoundPro';
  src: url("../fonts/CeraRoundProBold/CeraRoundProBold.eot");
  src: url("../fonts/CeraRoundProBold/CeraRoundProBold.eot") format("embedded-opentype"), url("../fonts/CeraRoundProBold/CeraRoundProBold.woff2") format("woff2"), url("../fonts/CeraRoundProBold/CeraRoundProBold.woff") format("woff"), url("../fonts/CeraRoundProBold/CeraRoundProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; 

*
  font-family: "CeraRoundPro", sans-serif
  text-decoration: none
  box-sizing: border-box
  outline: none
.flex
  display: flex
  align-items: center
  justify-content: space-between
.wrapper
  position: relative
  width: 100%
  margin: 0 auto
  max-width: 1255px
  padding: 0 20px